.homepage {
  /* min-height: 93vh; */
  background: #ffc5ae47;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding: 5rem 14rem;
  position: relative;
}

.homepage .text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 88%;
}

.homepage .text .badge p {
  background: #ffede6;
  display: inline-block;
  color: #ff7033;
  padding: 10px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 14px;
}

.homepage .text > p {
  color: #7e6f67;
  font-size: 20px;
  width: 88%;
}

.homepage .text > h2 {
  font-size: 72px;
  color: #2c2421;
  font-weight: bold;
  line-height: 72px;
  letter-spacing: -1.8px;
}

.homepage .text h2 span {
  background: linear-gradient(to right, #ff7033, #f9941f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.homepage .text .buttons {
  display: flex;
  gap: 1rem;
}

.homepage .text .buttons button {
  padding: 20px 50px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  border-color: transparent;
  font-size: 18px;
}

.homepage .text .buttons button:nth-of-type(1) {
  background: linear-gradient(to right, #ff7033, #f9941f);
}

.homepage .text .buttons button:nth-of-type(2) {
  color: #2c2421;
  background-color: transparent;
  border-color: #89898926;
}

.stats {
  display: flex;
  gap: 20px;
  align-items: center;
  position: absolute;
  bottom: 5px;
}

.stats div {
  padding: 12px;
  background: #e3e3e3;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: -30px;
  border: 1px solid white;
}

.stats p {
  margin-left: 25px;
}

.background .secondary {
  position: absolute;
  top: 46%;
  background: white;
  display: flex;
  padding: 20px;
  gap: 20px;
  border-radius: 20px;
}

.whyfoodfleet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 30px;
  max-width: 1500px;
  margin: 0 auto;
}

.whyfoodfleet h2 {
  font-size: 36px;
  color: #2c2421;
}

.whyfoodfleet h2 > span {
  background: linear-gradient(to right, #ff7033, #f9941f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.whyfoodfleet > p {
  margin-top: 20px;
  margin-bottom: 50px;
  color: #7e6767;
}

.whyfoodfleet .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.whyfoodfleet .cards .card {
  background-color: #ffc5ae47;
  padding: 25px 20px;
  border-radius: 20px;
  display: inherit;
  gap: 15px;
}

.whyfoodfleet .cards .card h3 {
  font-weight: bold;
}

.whyfoodfleet .cards .card p {
  color: #7e6767;
}

.whyfoodfleet .cards .card img {
  background: linear-gradient(to right, #ff7033, #f9941f);
  padding: 10px;
  border-radius: 15px;
}

.discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 30px;
  max-width: 1500px;
  margin: 0 auto;
}

.discover h3 {
  font-size: 36px;
  color: #2c2421;
}

.discover h3 > span {
  background: linear-gradient(to right, #ff7033, #f9941f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.discover .card-container .cards {
  display: grid;
  grid-template-columns: repeat(4, 308px);
  gap: 2rem 5rem;
}

.discover .card-container .cards .card {
  background-color: white;
  border-radius: 30px;
}

.discover .card-container .cards .card img {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.discover .card-container .cards .card .text {
  padding: 20px 15px;
}

.discover .card-container .cards .card .text h3 {
  color: #2c2421;
}

.discover .card-container .cards .card .text > p {
  color: #7e6f67;
  margin-top: 5px;
  margin-bottom: 15px;
}

.discover .card-container .cards .card .text p {
  color: #7e6f67;
}

.discover .card-container .cards .card .text button {
  padding: 8px 15px;
  border-radius: 10px;
  background: #ffede6;
  border-color: transparent;
  color: #ff7033;
  font-size: 12px;
  font-weight: 700;
}

.discover .card-container .cards .card .text .timer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.explore {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 40px;
  align-items: center;
}

.explore p {
  font-size: 16px;
  color: #7e6f67;
}

.view-collections button {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  background: transparent;
  border-color: #ff7033;
  color: #ff7033;
  border-radius: 15px;
  cursor: pointer;
}

.view-collections button:hover {
  background-color: #ff7033;
  color: white;
}

.smartlogistics {
  background: #2c2421;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding: 5rem 14rem;
  position: relative;
}

.smartlogistics .background {
  display: flex;
  justify-content: center;
}

.smartlogistics .text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 88%;
}

.smartlogistics .text .badge p {
  background: rgba(255, 112, 51, 0.2);
  display: inline-block;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: 400;
  font-size: 14px;
}

.smartlogistics .text h2 {
  color: white;
  font-size: 36px;
}

.smartlogistics .text h2 span {
  background: linear-gradient(to right, #ff7033, #f9941f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.smartlogistics .text .paragraph {
  line-height: 30px;
}

.smartlogistics .text .paragraph p {
  color: rgba(251, 246, 239, 0.7);
}

.divs {
  display: flex;
  gap: 1rem;
}

.divs .mints {
  background: red;
  padding: 15px 4rem 15px 20px;
  border-radius: 15px;
  width: 22%;
  border: 1px solid rgba(251, 246, 239, 0.1);
  background: rgba(251, 246, 239, 0.05);
}

.divs .mints h3 {
  color: white;
  font-size: 24px;
}

.divs .mints p {
  color: rgba(251, 246, 239, 0.6);
  font-size: 14px;
}

.statistics {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.statistics > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistics h2 {
  font-size: 48px;
  background: linear-gradient(to right, #ff7033, #f9941f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.statistics p {
  color: #7e6f67;
  font-size: 16px;
}
@media (max-width: 639px) {
  .homepage {
    background: #ffc5ae47;
    padding: 1rem 1rem;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .homepage .text {
    gap: 1rem;
    width: 100%;
  }

  .homepage .text > p {
    color: #7e6f67;
    font-size: 20px;
    width: 100%;
  }
  .homepage .text > h2 {
    font-size: 48px;
  }

  .homepage .text .buttons {
    justify-content: center;
  }

  .background .secondary {
    display: none;
  }
  .homepage .text .buttons button {
    padding: 15px 25px;
    font-size: 15px;
  }
  .whyfoodfleet {
    padding: 1rem 30px;
  }

  .whyfoodfleet h2 {
    font-size: 30px;
  }

  .whyfoodfleet > p {
    text-align: center;
  }

  element {
    text-align: center;
  }

  .whyfoodfleet .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .discover {
    padding: 2rem 30px;
  }

  .discover .card-container .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 2rem;
  }
  .discover h3 {
    text-align: center;
  }

  .discover .card-container .cards .card img {
    width: 100%;
    height: 50%;
  }

  .discover .card-container .cards .card .text h3 {
    font-size: 14px;
    text-align: inherit;
  }

  .discover .card-container .cards .card .text button {
    padding: 6px 12px;
    font-size: 11px;
  }

  .discover .card-container .cards .card .text p {
    font-size: 13px;
  }

  .smartlogistics {
    padding: 2rem 1rem;
    display: block;
  }

  .smartlogistics .text {
    text-align: center;
    width: 100%;
  }

  .divs {
    justify-content: center;
  }
  .statistics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 0rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}

@media (max-width: 767px) {
  .homepage {
    background: #ffc5ae47;
    padding: 1rem 1rem;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .homepage .text {
    gap: 1rem;
    width: 100%;
  }

  .homepage .text > p {
    color: #7e6f67;
    font-size: 20px;
    width: 100%;
  }
  .homepage .text > h2 {
    font-size: 48px;
  }

  .homepage .text .buttons {
    justify-content: center;
  }

  .background .secondary {
    display: none;
  }
  .homepage .text .buttons button {
    padding: 15px 25px;
    font-size: 15px;
  }
  .whyfoodfleet {
    padding: 1rem 30px;
  }

  .whyfoodfleet h2 {
    font-size: 30px;
  }

  .whyfoodfleet > p {
    text-align: center;
  }

  element {
    text-align: center;
  }

  .whyfoodfleet .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .discover {
    padding: 2rem 30px;
  }

  .discover .card-container .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 2rem;
  }
  .discover h3 {
    text-align: center;
  }

  .discover .card-container .cards .card img {
    width: 100%;
    height: 50%;
  }

  .discover .card-container .cards .card .text h3 {
    font-size: 14px;
    text-align: inherit;
  }

  .discover .card-container .cards .card .text button {
    padding: 6px 12px;
    font-size: 11px;
  }

  .discover .card-container .cards .card .text p {
    font-size: 13px;
  }

  .smartlogistics {
    padding: 2rem 1rem;
    display: block;
  }

  .smartlogistics .text {
    text-align: center;
    width: 100%;
  }

  .divs {
    justify-content: center;
  }
  .statistics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 0rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}

@media (max-width: 1023px) {
  .homepage {
    background: #ffc5ae47;
    padding: 1rem 1rem;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .homepage .text {
    gap: 1rem;
    width: 100%;
  }

  .homepage .text > p {
    color: #7e6f67;
    font-size: 20px;
    width: 100%;
  }
  .homepage .text > h2 {
    font-size: 48px;
  }

  .homepage .text .buttons {
    justify-content: center;
  }

  .background .secondary {
    display: none;
  }
  .homepage .text .buttons button {
    padding: 15px 25px;
    font-size: 15px;
  }
  .whyfoodfleet {
    padding: 1rem 30px;
  }

  .whyfoodfleet h2 {
    font-size: 30px;
  }

  .whyfoodfleet > p {
    text-align: center;
  }

  .whyfoodfleet .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .discover {
    padding: 2rem 30px;
  }

  .discover .card-container .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 2rem;
  }
  .discover h3 {
    text-align: center;
  }

  .discover .card-container .cards .card img {
    width: 100%;
    height: 50%;
  }

  .discover .card-container .cards .card .text h3 {
    font-size: 14px;
    text-align: inherit;
  }

  .discover .card-container .cards .card .text button {
    padding: 6px 12px;
    font-size: 11px;
  }

  .discover .card-container .cards .card .text p {
    font-size: 13px;
  }

  .smartlogistics {
    padding: 2rem 1rem;
    display: block;
  }

  .smartlogistics .text {
    text-align: center;
    width: 100%;
  }

  .divs {
    justify-content: center;
  }
  .statistics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 0rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}

@media (max-width: 1535px) {
  .homepage {
    padding: 4rem 4rem;
  }
  .homepage .text {
    gap: 2rem;
  }
  .homepage .background img {
    width: 100%;
  }

  .homepage .text > h2 {
    font-size: 50px;
  }

  .homepage .text > p {
    font-size: 18px;
  }

  .smartlogistics {
    padding: 3rem 2rem;
  }

  .discover .card-container .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 5rem;
  }
}
