.footer {
  background: #2c2421;
  padding: 5rem 7rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 3rem;
}

.footer .content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.footer .content .logoname {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer .content .logoname h2:nth-of-type(1) {
  padding: 10px 17px;
  background: linear-gradient(to right, #ff7033, #f9941f);
  border-radius: 15px;
}

.footer .content > div {
  line-height: 2rem;
}

.footer .content p:nth-of-type(1) {
  line-height: 24px;
}

.footer .content h2 {
  margin-bottom: 1rem;
  color: #fbf6ef;
}
.footer .content h3 {
  margin-bottom: 1rem;
}

.footer .content p {
  color: rgba(251, 246, 239, 0.6);
}

.footer .copyright {
  display: flex;
  justify-content: space-between;
}

.footer .copyright .terms {
  display: flex;
  gap: 2rem;
}

@media (max-width: 640px) {
  .footer {
    padding: 2rem;
  }

  .footer .content {
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    font-size: 12px;
  }

  .footer .copyright {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
